---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-macro-parentheses,
  -bugprone-pointer-arithmetic-on-polymorphic-object,
  performance-*,
  -performance-enum-size,
  portability-*,
  -portability-avoid-pragma-once,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using
WarningsAsErrors: 'bugprone-*,performance-*'
HeaderFilterRegex: '.*/(src|tests)/.*'
FormatStyle: file
